.border-bottom.mb-3.pb-2
  %h2= t('dashboard.feedback_questions.headers.new')

= render partial: 'form',
         locals: { question: @question, url: dashboard_feedback_questions_url, submit: 'create' }
