= render partial: 'notes/form',
         locals: { note: @note,
                   url: send("dashboard_#{@noteable.class.name.downcase}_notes_url"),
                   noteable: @noteable,
                   submit: 'create' }
