/storage/*
/public/assets
/config/master.key
/log/
/tmp/
/config/database.yml
.byebug_history
.idea/

# Ignore master key for decrypting credentials and more.
/config/master.key
.envrc
coverage/**/*

give-me-poc-features/
node_modules/
yarn.lock

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

secrets/envrc
