= link_to 'https://github.com/howtohireme/give-me-poc' do
  = image_tag 'https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', style: 'position: absolute; top: 0; right: 0; border: 0;', alt: 'Fork me on GitHub'
