%h2
  = t('dashboard.developer_test_task.edit.header')
  = @developer_test_task.id
= render partial: 'form', locals: { developer_test_task: @developer_test_task, roles: @roles, url: dashboard_test_task_url }
