%h2
  = t('dashboard.member_test_task.edit.header')
  = @member_test_task.id
= render partial: 'form', locals: { member_test_task: @member_test_task,
                                    roles: @roles,
                                    url: dashboard_test_task_url }
