%p.lead
  = t('bootcamp.screening.completed')
%p Email: #{@user.email}
%p Github: #{@user.github}
%p
  You can make a review of the applicant by clicking on the link
  = link_to @user.full_name, dashboard_test_task_assignment_url(@user), target: :_blank
