:erb
  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
    <form action="https://howtohireme.us16.list-manage.com/subscribe/post?u=e25a59c9bfc7ccd6e7c37e2fc&amp;id=1b25575d19" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        <input type="email" value="" name="EMAIL" class="email form-control string email required" id="mce-EMAIL" placeholder="<%= t('landing.newsletter.placeholder') %>" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e25a59c9bfc7ccd6e7c37e2fc_1b25575d19" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="<%= t('landing.newsletter.submit') %>" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary"></div>
        </div>
    </form>
  </div>

  <!--End mc_embed_signup-->
