= idea_status
- if model.pending?
  = link_to t('dashboard.ideas.button.reject'),
            reject_dashboard_idea_url(model),
            method: :put,
            confirm: { data: t('dashboard.ideas.confirm.reject') },
            class: 'btn btn-sm btn-danger'
