default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: localhost
  user: postgres
  password: root
  timeout: 5000

development:
  <<: *default
  database: poc_development

test:
  <<: *default
  database: poc_test

production:
  url: <%= ENV['DATABASE_URL'] %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  adapter: postgresql

features:
  <<: *default
  host: <%= ENV['DATABASE_HOST'] %>
  database: poc_features
