default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: <%= ENV.fetch('PGHOST') { 'localhost ' } %>
  user: <%= ENV.fetch('PGUSER') { 'postgres' } %>
  password: <%= ENV.fetch('PGPASS') { 'root' } %>
  timeout: 5000

development:
  <<: *default
  database: <%= ENV.fetch('PGDATABASE') { 'poc_development' } %>

test:
  <<: *default
  database: poc_test

production:
  url: <%= ENV['DATABASE_URL'] %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  adapter: postgresql

features:
  <<: *default
  host: <%= ENV['PGHOST'] { 'localhost' } %>
  database: poc_features
