Hello,
= @author.user.full_name

Your idea was approved and offered to the developers community!
Your account is approved as well, so feel free to visit 
= link_to 'our dashboard', dashboard_root_url
