%h1.cover-heading= t('bootcamp.landing.title')
%p.lead
  = t('bootcamp.landing.body')
%p.lead
  = link_to t('bootcamp.landing.github_login'), bootcamp_auth_at_provider_url(provider: :github), id: 'join-via-github', class: 'btn btn-lg btn-secondary'

