body {
  box-shadow: none;
}

p.link a {
  text-decoration: underline;
}

.cover-container {
  max-width: 50em;

  .cover {
    margin-top: 70px;
  }
}

footer {
  .social {
    margin-bottom: 15px;

    img {
      margin: 5px;

      &.facebook {
        width: 32px;
        height: 32px;
      }
    }
  }
}
