body {
  box-shadow: none;
}

p.link a {
  text-decoration: underline;
}

.cover-container {
  max-width: 56em;

  .cover {
    margin-top: 70px;
  }
}

footer {
  .social {
    margin-bottom: 15px;

    img {
      margin: 5px;

      &.facebook {
        width: 32px;
        height: 32px;
      }
    }
  }
}

p.lead {
  a {
    &#offer-idea {
      width: 180px;
      white-space: normal;
    }
    &#join-bootcamp {
      width: 180px;
    }

    img {
      &.howtohireme {
        width: 300px;
      }
      &.netology {
        height: 55px;
      }
    }
  }
}

.p_r {
  margin-left: 50px;
  margin-top: 3px;
}
