%h2= t('dashboard.candidates.title')

.table-responsive
  %table.table.table-striped.table-sm
    %thead
      %tr
        %th #
        %th Email
    %tbody
      - @candidates.each do |candidate|
        %tr
          %td= candidate.id
          %td= link_to candidate.email, dashboard_test_task_assignment_url(candidate)

